* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  justify-content: center;
  background-color: rgb(241, 241, 241);
}

.wrapper {
  width: 60vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 0.25em;
}

header,
nav,
main,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 177, 177);
}

header {
  grid-column: auto/span 3;
  grid-row: auto/span 3;
}

nav {
  grid-column: auto/span 3;
  grid-row: auto/ span 1;
}

main {
  grid-column: auto/span 2;
  grid-row: auto/span 6;
}

aside {
  grid-column: auto/span 1;
  grid-row: auto/span 6;
}

footer {
  grid-column: auto/span 3;
  grid-row: auto/span 2;
}
